.u-section-1 .u-sheet-1 {
  min-height: 305px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 181px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-layout-cell-1 {
    --animation-custom_in-scale: 0.3;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    min-height: 149px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(51,51,51,0.7), rgba(51,51,51,0.7)), url("images/pexels-tracy-le-blanc-607812.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 575px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px 0 0;
}

.u-section-2 .u-icon-1 {
  width: 231px;
  height: 231px;
  color: rgb(255, 255, 255) !important;
  margin: 28px auto 0 71px;
  padding: 22px;
}

.u-section-2 .u-text-2 {
  margin: -190px 46px 0 368px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 71px auto 60px;
  padding: 13px 47px 14px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-2 .u-text-1 {
    width: 753px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 214px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 24px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(51,51,51,0.7), rgba(51,51,51,0.7)), url("images/pexels-fauxels-3184292.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 575px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px 0 0;
}

.u-section-3 .u-icon-1 {
  width: 231px;
  height: 231px;
  margin: 28px auto 0 71px;
  padding: 22px;
}

.u-section-3 .u-text-2 {
  margin: -190px 46px 0 368px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 71px auto 60px;
  padding: 13px 47px 14px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-3 .u-text-1 {
    width: 753px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-left: 214px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 24px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(51,51,51,0.7), rgba(51,51,51,0.7)), url("images/pexels-los-muertos-crew-10039997.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 694px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 61px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 46px 56px 0 358px;
}

.u-section-4 .u-icon-1 {
  width: 231px;
  height: 231px;
  margin: -303px auto 0 57px;
  padding: 22px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 124px auto 60px;
  padding: 13px 47px 14px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 94px;
    margin-right: 94px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 214px;
    margin-right: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 20px;
    margin-left: 162px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 57px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1245px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 296px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -927px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 717px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(51,51,51,0.7), rgba(51,51,51,0.7)), url("images/pexels-alexander-isreb-1797428.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 575px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px 0 0;
}

.u-section-5 .u-icon-1 {
  width: 231px;
  height: 231px;
  margin: 28px auto 0 71px;
  padding: 22px;
}

.u-section-5 .u-text-2 {
  margin: -190px 46px 0 368px;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 71px auto 60px;
  padding: 13px 47px 14px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-5 .u-text-1 {
    width: 753px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-left: 214px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(51,51,51,0.7), rgba(51,51,51,0.7)), url("images/pexels-alexander-isreb-1797428.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 575px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 44px 0 0;
}

.u-section-6 .u-icon-1 {
  width: 231px;
  height: 231px;
  margin: 30px auto 0 71px;
  padding: 22px;
}

.u-section-6 .u-text-2 {
  margin: -190px 46px 0 368px;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 71px auto 60px;
  padding: 13px 47px 14px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-6 .u-text-1 {
    width: 753px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-left: 214px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(51,51,51,0.7), rgba(51,51,51,0.7)), url("images/pexels-alexander-isreb-1797428.jpg");
}

.u-section-7 .u-sheet-1 {
  min-height: 575px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px 0 0;
}

.u-section-7 .u-icon-1 {
  width: 231px;
  height: 231px;
  margin: 28px auto 0 71px;
  padding: 22px;
}

.u-section-7 .u-text-2 {
  margin: -190px 46px 0 368px;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 71px auto 60px;
  padding: 13px 47px 14px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-7 .u-text-1 {
    width: 753px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
    margin-left: 214px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(51,51,51,0.7), rgba(51,51,51,0.7)), url("images/pexels-junjie-xu-3028500.jpg");
}

.u-section-8 .u-sheet-1 {
  min-height: 575px;
}

.u-section-8 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px 0 0;
}

.u-section-8 .u-icon-1 {
  width: 231px;
  height: 231px;
  margin: 28px auto 0 71px;
  padding: 22px;
}

.u-section-8 .u-text-2 {
  margin: -190px 46px 0 368px;
}

.u-section-8 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 71px auto 60px;
  padding: 13px 47px 14px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    background-position: 50% 50%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-8 .u-text-1 {
    width: 753px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 20px;
    margin-left: 214px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-8 .u-text-2 {
    margin-top: 23px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 22px;
    margin-bottom: 46px;
  }
}@font-face {
  font-family: 'LEMONMILK-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/LEMONMILK-Medium.otf);
}