 .u-section-1 {
  background-image: linear-gradient(#ffe600, #fff599);
}

.u-section-1 .u-sheet-1 {
  min-height: 909px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 436px;
  margin: 66px auto 0 108px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 796px;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 14px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-form-1 {
  height: 655px;
  width: 406px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-layout-wrap-2 {
  width: 442px;
  margin: -795px 108px 60px auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 455px;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 13px 14px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 18px 1px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 167px;
  min-height: 16px;
  width: 167px;
  min-width: 16px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 167px;
}

.u-section-1 .u-icon-2 {
  width: 168px;
  height: 168px;
  animation-timing-function: ease-out;
  margin: -78px 19px 0 auto;
  padding: 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 57px;
    margin-left: 19px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 795px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 4px;
    margin-left: -2px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -796px;
    margin-right: 19px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 442px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1369px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 53px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 53px;
    margin-bottom: 53px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-form-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1294px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    width: 139px;
    height: 139px;
    margin-top: -60px;
    margin-right: 0;
    padding: 10px;
  }
}@font-face {
  font-family: 'LEMONMILK-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/LEMONMILK-Medium.otf);
}