.u-section-1 .u-sheet-1 {
  min-height: 547px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: -112px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 721px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 989px;
  height: 251px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 194px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: -1px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    --animation-custom_in-scale: 0.3;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    min-height: 524px;
  }

  .u-section-1 .u-image-1 {
    height: 223px;
    margin-top: 44px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-1 .u-image-1 {
    height: 165px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
    margin-left: 148px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    order: 0;
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 130px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 92px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    padding: 10px 32px 10px 30px;
  }
} .u-section-2 {
  background-image: linear-gradient(#ffe600, #fff599);
}

.u-section-2 .u-sheet-1 {
  min-height: 687px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 753px;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(20% - 6.4px) calc(20% - 6.4px) calc(20% - 6.4px) calc(20% - 6.4px) calc(20% - 6.4px);
  min-height: 317px;
  grid-gap: 8px 8px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 13px 25px;
}

.u-section-2 .u-image-1 {
  height: 181px;
  width: 181px;
  background-image: url("images/1111.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px auto 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px 4px 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 13px 25px;
}

.u-section-2 .u-image-2 {
  height: 181px;
  width: 181px;
  background-image: url("images/44.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px auto 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px 4px 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 13px 25px;
}

.u-section-2 .u-image-3 {
  height: 181px;
  width: 181px;
  background-image: url("images/f.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px auto 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px 4px 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 13px 25px;
}

.u-section-2 .u-image-4 {
  height: 181px;
  width: 181px;
  background-image: url("images/r5.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px auto 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px 4px 0;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 13px 25px;
}

.u-section-2 .u-image-5 {
  height: 181px;
  width: 181px;
  background-image: url("images/f.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px auto 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px 4px 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 19px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 260px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    min-height: 680px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 5.33333px) calc(33.3333% - 5.33333px) calc(33.3333% - 5.33333px);
    min-height: 680px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 34px;
    margin-bottom: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1497px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1159px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 4px) calc(50% - 4px);
    min-height: 1159px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1847px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding: 10px 16px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 169px;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  margin: 32px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 87px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 27px;
    margin-bottom: 27px;
  }
}.u-block-0bf2-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-0bf2-3 {
  position: absolute;
  left: 0;
}

.u-block-0bf2-4 {
  position: absolute;
  right: 0;
}

 .u-section-4-1 {
  background-image: none;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 150px;
}

.u-section-4-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 23px 0;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4-1 .u-text-1 {
    width: auto;
    margin-top: 11px;
    margin-bottom: 11px;
  }
}

 .u-section-4-2 {
  background-image: none;
}

.u-section-4-2 .u-sheet-1 {
  min-height: 150px;
}

.u-section-4-2 .u-text-1 {
  font-size: 6rem;
  margin: 23px 0 0;
}

@media (max-width: 575px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4-2 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 17px;
    margin-bottom: 17px;
  }
}

 .u-section-4-3 {
  background-image: none;
}

.u-section-4-3 .u-sheet-1 {
  min-height: 150px;
}

.u-section-4-3 .u-text-1 {
  font-size: 5.3125rem;
  margin: 23px 0;
}

@media (max-width: 1199px) {
  .u-section-4-3 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-4-3 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 17px;
    margin-bottom: 17px;
  }
}

 .u-section-4-4 {
  background-image: none;
}

.u-section-4-4 .u-sheet-1 {
  min-height: 150px;
}

.u-section-4-4 .u-text-1 {
  font-size: 5.3125rem;
  margin: 23px 0;
}

@media (max-width: 1199px) {
  .u-section-4-4 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-4-4 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-4-4 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 17px;
    margin-bottom: 17px;
  }
}

 .u-section-4-5 {
  background-image: none;
}

.u-section-4-5 .u-sheet-1 {
  min-height: 150px;
}

.u-section-4-5 .u-text-1 {
  font-size: 4.5rem;
  margin: 23px 0;
}

@media (max-width: 1199px) {
  .u-section-4-5 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-4-5 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-4-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 17px;
    margin-bottom: 17px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 228px;
}

.u-section-5 .u-text-1 {
  font-family: LEMONMILK-Light;
  font-size: 3.4375rem;
  margin: 54px 276px 0 41px;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -103px 41px 0 auto;
  padding: 18px 30px 19px;
}

.u-section-5 .u-icon-1 {
  width: 87px;
  height: 87px;
  animation-timing-function: ease-out;
  margin: -15px 11px 0 auto;
  padding: 7px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-right: 245px;
    margin-left: 21px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -133px;
    margin-right: 0;
    margin-left: 695px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-right: 213px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -120px;
    margin-left: auto;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -27px;
    margin-right: -43px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 51px;
    margin-right: 231px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -92px;
    margin-right: auto;
    margin-left: 316px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -30px;
    margin-bottom: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 23px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 19px;
    margin-left: auto;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -46px;
    margin-right: 0;
    margin-bottom: 0;
  }
}@font-face {
  font-family: 'LEMONMILK-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/LEMONMILK-Light.otf);
}@font-face {
  font-family: 'LEMONMILK-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/LEMONMILK-Medium.otf);
}