.u-section-1 .u-sheet-1 {
  min-height: 305px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 181px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 277px;
  }

  .u-section-1 .u-layout-cell-1 {
    --animation-custom_in-scale: 0.3;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    min-height: 149px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }
} .u-section-2 {
  background-image: linear-gradient(60deg, #ffbf00, #ffe600);
}

.u-section-2 .u-sheet-1 {
  min-height: 519px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 58px 90px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 8px 58px 0;
}

.u-section-2 .u-image-1 {
  width: 180px;
  height: 245px;
  margin: 0 auto 0 80px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  line-height: 0.87;
  margin: -208px 80px 58px 297px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 9px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: -226px 0 60px 180px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 101px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -317px;
    margin-left: 204px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 44px;
  }

  .u-section-2 .u-image-1 {
    width: 166px;
    height: 226px;
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 18px;
    margin-bottom: 44px;
    margin-left: 4px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 533px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 471px;
  margin: 31px auto 0 527px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: -432px 639px 79px 43px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 388px;
    margin-top: 45px;
    margin-left: 470px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin: -388px 482px 49px 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-3 .u-image-1 {
    width: 458px;
    height: 378px;
    margin-top: 34px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: 458px;
    margin: -788px auto 28px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-top: 431px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin: -775px 41px 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-3 .u-image-1 {
    height: 281px;
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin: -774px 0 -154px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 316px;
}

.u-section-4 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 316px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.9), rgba(26,26,26,0.9)), url("images/pexels-hasan-albari-1424745.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.9), rgba(26,26,26,0.9)), url("images/pexels-mark-arron-smith-2168356.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.9), rgba(26,26,26,0.9)), url("images/pexels-fauxels-3184423.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 320px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 261px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 632px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 632px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 563px;
}

.u-section-5 .u-text-1 {
  margin: 36px auto 0 54px;
}

.u-section-5 .u-group-elements-1 {
  width: 334px;
  min-height: 403px;
  height: auto;
  margin: 36px auto;
}

.u-section-5 .u-image-1 {
  width: 244px;
  height: 268px;
  margin: 0 auto 0 45px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  line-height: 1.16;
  margin: 11px 0 0;
}

.u-section-5 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 2px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}@font-face {
  font-family: 'LEMONMILK-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/LEMONMILK-Medium.otf);
}